<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="/" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/it.html">IT</a></li>
            <li><a href="/science.html">Science</a></li>
            <li><a href="/art.html">Art</a></li>
            <li><a href="/blog">Blog</a></li>
            {% for page in site.pages %}
                  {% if page.title %}
                    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endif %}
            {% endfor %}
            <li> </li>
            <!-- <li><a href="#" class="button special">Sign Up</a></li> -->
        </ul>
    </nav>
</header>
