<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="/" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/it">IT</a></li>
            <li><a href="/science">Science</a></li>
            <li><a href="/art">Art</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/search">Search</a></li>
            <!-- Esto lo puse para crear el header manualmente hay que descomentar para que sea automático.
            {% for page in site.pages %}
                  {% if page.title %}
                    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endif %}
            {% endfor %} -->
            <li> </li>
            <!-- <li><a href="#" class="button special">Sign Up</a></li> -->
        </ul>
    </nav>
</header>
