<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Muammar El Khatib</h2>
                <p>A chemist who loves machine learning, quantum mechanics, and playing guitar</p>
                <ul class="actions">
                    <li><a href="#aboutme " class="button big alt">About Me</a></li>
                    <li><a href="/blog" class="button big special">Blog</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
