---
layout: default
---
<div class="content">
  <div class="post single">
    <h1>{{ page.title }}</h1>

    <info datetime="{{ page.date | date: "%Y-%m-%d" }}">
      {{ page.date | date: "%b %d, %Y" }}
    </info>
    <div class="body">{{ content }}</div>
    <div class="breaker"></div>

    <info class="after">
<div class="fb-like" data-href="http://muammar.me{{ page.url }}" data-send="false" data-width="550" data-show-faces="false" data-font="arial"></div>
    </info>

  {% if page.disqus_comments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      window.disqus_identifier = {% if page.tumblr_id %}"{{ page.tumblr_id }}"{% else %}"{{ page.id }}"{% endif %};
    </script>
    <script async src="http://hunch.disqus.com/embed.js"></script>
    <noscript>Please enable JavaScript to view the
      <a href="http://disqus.com/?ref_noscript=hunch">comments powered by Disqus.</a>
    </noscript>
    {% include disqus.html %}
  </div>
  {% endif %}
  </div>
</div>
{% if site.safe == false %}
<script type="text/javascript">
(function() {
var qs = document.location.search;
var current_etag = qs.match(/etag=("?[a-zA-Z0-9_-]+)/);
if (current_etag !== null) { current_etag = current_etag[1]; }
var scrolly = qs.match(/scrolly=([0-9]+)/);
if (scrolly) {
  scrolly = parseInt(scrolly[1]);
  window.scrollTo(window.scrollX, scrolly);
  setTimeout(function () {
    window.scrollTo(window.scrollX, scrolly);
  }, 10);
}

function check() {
  var r = new XMLHttpRequest();
  var url = document.location.href + ((qs && qs !== '') ? '&' : '?') + 'r=' + Math.random();
  r.open('GET', url, true);
  r.onreadystatechange = function() {
    if (r.readyState == 4){
      var found_etag = r.getResponseHeader('Etag').replace(/^"|"$/g);
      //console.log('current_etag:', current_etag, 'found_etag:', found_etag);
      if (current_etag === null) {
        current_etag = found_etag;
      } else if (found_etag !== current_etag) {
        document.location.search =
          '?etag=' + encodeURIComponent(found_etag) +
          '&scrolly=' + window.scrollY;
        return;
      }
      setTimeout(check, 500);
    }
  };
  r.send(null);
}
check();
})();
</script>
{% endif %}
